<div class="row">
    <div class="panel panel-primary left-margin" *ngIf="weekdays.length>0 || openingsHour.openingsHourId > 0">
        <div class="panel-heading">
            <h3 class="panel-title">Openingsuren</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Dag</th>
                    <th scope="col">VAN</th>
                    <th scope="col">TOT</th>
                    <th scope="col">GESLOTEN</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngIf="openingsHour.openingsHourId == -1">
                        <select class="form-control align" name="day" id="day" appTimeSelectorValidator="select" required [(ngModel)]="openingsHour.day" [disabled]="openingsHour.isclose">
                            <option value="select">Selecteer de dag </option>
                            <option *ngFor="let day of weekdays" value="{{day}}">{{day}}</option>
                        </select>
                    </td>

                    <td *ngIf="openingsHour.openingsHourId > 0">
                        <select class="form-control align" name="day" id="day" [(ngModel)]="openingsHour.day" [disabled]="true">
                            <option value="{{openingsHour.day}}">{{openingsHour.day}}</option>
                        </select>
                    </td>

                    <td>
                        <timepicker [(ngModel)]="openingsHour.m_from" [showMeridian]="isMeridian" [disabled]="openingsHour.isclose || openingsHour.day == null ||openingsHour.day == 'select'"></timepicker>
                    </td>
                    <td>
                        <timepicker [(ngModel)]="openingsHour.m_till" [showMeridian]="isMeridian" [disabled]="openingsHour.isclose || openingsHour.day == null || openingsHour.day == 'select'"></timepicker>
                    </td>
                    <td><input class="align" name="gesloten" id="gesloten" type="checkbox" [(ngModel)]="openingsHour.isclose" (click)="sluitingDag()" [disabled]="openingsHour.day == null || openingsHour.day == 'select'"/>
                    </td>
                    <!--<td><span><a (click)="onSubmit()"><i class="fa fa-plus fa-2x" aria-hidden="true"
                                style="color:#5cb85c; margin-top: 20px"></i></a></span></td>-->
                    <td *ngIf="openingsHour.openingsHourId == -1"><button class="btn btn-primary" style="margin-top: 20px;" (click)="onSubmit()" [disabled]="openingsHour.day == null || openingsHour.day == 'select'">Voeg toe</button></td>            
                    <td *ngIf="openingsHour.openingsHourId >  0"><button class="btn btn-warning" style="margin-top: 20px;" (click)="onSubmit()" [disabled]="openingsHour.day == null || openingsHour.day == 'select'">Update</button></td>            
                    <td *ngIf="openingsHour.openingsHourId >  0"><button class="btn btn-danger" style="margin-top: 20px;" (click)="initializeOpeninghoursObject()">Cancel</button></td>               
                </tr>
            </tbody>
        </table>
    </div>
    {{openingsHour | json}}
</div>
