<div class="row">
    <app-create-barber-services [service]="serviceForEdit"></app-create-barber-services>
    <app-barber-service-list (selectedServiceForEdit)= "editBarberService($event)"></app-barber-service-list>
</div>