<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/registerBarber']" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Registreer</a>
    </li>
  </ul>