<div class="row">
  <div class="col-xs-3">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Kapper Details</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a (click)="navigate('kapperDetail')">Kapper detail</a></li>
          <li><a (click)="navigate('service')">Barber Services</a></li>
          <li><a (click)="navigate('location')">Locatie</a></li>
          <li><a (click)="navigate('openingsuren')">Openingsuren</a></li>
          <li><a (click)="navigate('mayRemoved')">OpeningsurenmayRemoved</a></li>
          <li><a (click)="navigate('maakAfspraak')">Create Appointment</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
  <div class="col-md-9">
    {{barberId}}
    <router-outlet></router-outlet>
  </div>
</div>