{{inputFieldDisable}}
<div class="row">
  <form #registerBarberLocationForm="ngForm" ngNativeValidate
    (ngSubmit)="saveBarberLocation(registerBarberLocationForm)">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" *ngIf="location.barberLocationId <= 0 || inputFieldDisable">Voeg Adress Gegevens:</h3>
        <h3 class="panel-title" *ngIf="!inputFieldDisable">Update Adress Gegevens:</h3>
      </div>
      <div class="panel-body">
        <div class="form-row col-md-10">
          <input id="barberLocationId" name="barberLocationId" type="hidden" ([ngModel])="location.barberLocationId" />
          <div class="form-group col-md-4">
            <label for="country" class="control-label">Land</label>
            <input id="country" name="country" type="text" class="form-control" required [(ngModel)]="location.country" disabled/>
          </div>
          <div class="form-group col-md-2">
            <label for="postcode" class="control-label">Postcode</label>
            <input id="postcode" name="postcode" type="text" class="form-control" required [(ngModel)]="location.postCode" [disabled]="inputFieldDisable" />
          </div>
          <div class="form-group col-md-3">
            <label for="city" class="control-label">Stad</label>
            <input id="city" name="city" type="text" class="form-control" required [(ngModel)]="location.city" [disabled]="inputFieldDisable" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-row col-md-10">
            <div class="form-group col-md-4">
              <label for="street" class="control-label">Straat</label>
              <input id="street" name="street" type="text" class="form-control" required [(ngModel)]="location.street" [disabled]="inputFieldDisable" />
            </div>
            <div class="form-group col-md-2">
              <label for="housenr" class="control-label">Huis nr</label>
              <input id="housenr" name="housenr" type="text" class="form-control"  required [(ngModel)]="location.houseNumber" [disabled]="inputFieldDisable"/>
            </div>
            <div class="form-group col-md-2">
              <label for="bus" class="control-label">Bus</label>
              <input id="bus" name="bus" type="text" class="form-control" [(ngModel)]="location.bus" [disabled]="inputFieldDisable" />
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer" *ngIf="location.barberLocationId <= 0">
        <button type="submit" class="btn btn-primary" [disabled]="registerBarberLocationForm.invalid || inputFieldDisable">Save</button>
        <input type="button" class="btn btn-danger pull-right" value ="Edit" (click)="onEdit()" [disabled]="!inputFieldDisable"/>
        <input type="button" class="btn btn-warning pull-right" value="Cancel" (click)="onEdit()" [disabled]="inputFieldDisable" />
      </div>
      <div class="panel-footer" *ngIf="location.barberLocationId > 0">
        <button type="submit" class="btn btn-primary" [disabled]="registerBarberLocationForm.invalid || inputFieldDisable">Update</button>
        <input type="button" class="btn btn-info pull-right" value ="Edit" (click)="onEdit()" [disabled]="!inputFieldDisable"/>
        <input type="button" class="btn btn-danger pull-right" value="Cancel" (click)="onEdit()" [disabled]="inputFieldDisable" />
      </div>
    </div>
  </form>
  Angular generated form: {{registerBarberLocationForm.value | json}}
</div>