<div class="row">
  <form #appointmentForm="ngForm" ngNativeValidate (ngSubmit)="saveAppointment(appointmentForm)">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Maak een afspraak</h3>
      </div>
      <div class="panel-body">
        <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
          <label for="name" class="control-label">Naam</label>
          <input id="name" name="name" type="text" class="form-control" required [(ngModel)]="names" #name="ngModel" />
          <span class="help-block" *ngIf="name.invalid && name.touched">Naam mag niet leeg</span>
        </div>
        <div class="form-group" [class.has-error]="contactPreference.touched && contactPreference.invalid"
          [class.has-success]="contactPreference.valid">
          <label>Contactvoorkeur</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" name="contactPreference" value="Email" required [(ngModel)]="contactPreferences"
                #contactPreference="ngModel" />
              E-mail
            </label>
            <label class="radio-inline">
              <input type="radio" name="contactPreference" value="Phone" required [(ngModel)]="contactPreferences"
                #contactPreference="ngModel" />
              Gsm
            </label>
          </div>
          <span class="help-block" *ngIf="contactPreference.touched && contactPreference.invalid">Contactvoorkeur mag
            niet leeg</span>
        </div>
        <div class="form-group" [class.has-error]="gender.invalid && gender.touched" [class.has-success]="gender.valid">
          <label>Geslacht</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" name="gender" value="M" required [(ngModel)]="genders" #gender="ngModel" />
              Man
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" value="F" required [(ngModel)]="genders" #gender="ngModel" />
              Vrouw
            </label>
          </div>
          <span class="help-block" *ngIf="gender.touched && gender.invalid">Geslacht mag niet leeg</span>
        </div>
        <div class="form-group" [class.has-error]="email.touched && email.invalid"
          [class.has-success]="contactPreference.value=='Email' && email.valid && contactPreference.touched">
          <label for="name" class="control-label">E-mail</label>
          <input id="email" name="email" type="email" class="form-control" email
            [required]="contactPreference.value=='Email'" [(ngModel)]="emails" #email="ngModel" />
          <span class="help-block" *ngIf="email.touched && email.errors?.required">E-mail mag niet leeg</span>
          <span class="help-block" *ngIf="email.touched && email.errors?.email">Het is geen geldige e-mail</span>
        </div>
        <div class="form-group" [class.has-error]="phone.touched && phone.invalid"
          [class.has-success]="contactPreference.value=='Phone' && phone.valid && contactPreference.touched">
          <label for="name" class="control-label">Gsm</label>
          <input id="phone" name="phone" type="phone" class="form-control" [required]="contactPreference.value=='Phone'"
            [(ngModel)]="phones" #phone="ngModel" />
          <span class="help-block" *ngIf="phone.touched && phone.errors?.required">Gsm nummer mag niet leeg</span>
        </div>

        <div class="row">
          <div class="form-group col-md-5">
            <label for="dateOfBirth">Kies de datum</label>
            <input id="appointmentDate" name="appointmentDate" type="text" bsDatepicker [bsConfig]="datePickerConfig"
              class="form-control" [(ngModel)]="appointmentDate" placement="right" />
          </div>
        </div>

        <div class="form-group" [class.has-error]="time.touched && time.invalid">
          <label for="time" class="control-label">Uur</label>
          <select class="form-control" id="time" name="time" appTimeSelectorValidator="select" required
            [(ngModel)]="times" #time="ngModel">
            <option value="select">Selecteer het uur </option>
            <option *ngFor="let hour of availableHours" [value]="hour.id">
              {{ hour.time }}
            </option>
          </select>
          <span class="help-block" *ngIf="time.touched && time.invalid && !time.errors?.defaultSelect">Het uur mag niet
            leeg</span>
          <span class="help-block" *ngIf="time.touched && time.errors?.defaultSelect">U heeft geen geldig uur
            gekozen</span>
        </div>


        <div class="form-group" [class.has-error]="service.touched && service.invalid">
          <label for="time" class="control-label">Barber service</label>
          <select class="form-control" id="service" name="service" appTimeSelectorValidator="select" required
            [(ngModel)]="services" #service="ngModel">
            <option value="select">Selecteer het service </option>
            <option *ngFor="let service of barberService" [value]="service.id">
              {{ service.name }} € {{service.price}}
            </option>
          </select>
          <span class="help-block" *ngIf="service.touched && service.invalid && !service.errors?.defaultSelect">Het uur
            mag niet leeg</span>
          <span class="help-block" *ngIf="service.touched && service.errors?.defaultSelect">U heeft geen geldig uur
            gekozen</span>
        </div>

      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary" [disabled]="appointmentForm.invalid">Bevestig</button>
      </div>
    </div>
  </form>
</div>
Angular generated form: {{appointmentForm.value | json}}