<div class="row">
  <div class="top-buffer left-margin" *ngIf="!showForm">
    <button class="btn btn-primary" (click)="initializeEmptyObject()">Voeg nieuwe service</button>
  </div>
  <div class="top-buffer left-margin" *ngIf="showForm">
    <form #registerBarberServices="ngForm" ngNativeValidate (ngSubmit)="registerBarberService(registerBarberServices)">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title" *ngIf="service.barberServiceId === -1">Voeg Barber Services</h3>
          <h3 class="panel-title" *ngIf="service.barberServiceId != -1">Update Barber Services</h3>
        </div>
        <input id="serviceId" name="serviceId" type="text" class="form-control" [(ngModel)]="service.barberServiceId" disabled />
        <div class="panel-body">
          <div class="form-group">
            <label for="title" class="control-label">Titel</label>
            <input id="title" name="title" type="text" class="form-control" [(ngModel)]="service.name" required />
          </div>
          <div class="form-group">
            <label for="description" class="control-label">Omschrijving</label>
            <textarea id="description" name="description" type="textarea" class="form-control"
              [(ngModel)]="service.description" required></textarea>
          </div>
          <div class="form-group">
            <label for="price" class="control-label">Prijs</label>
            <input id="price" name="price" type="number" class="form-control" [(ngModel)]="service.price" required />
          </div>

          <div class="form-group">
            <label for="gender" class="control-label">Geslacht</label>
            <select class="form-control" id="gender" name="gender" appTimeSelectorValidator="select"
              [(ngModel)]="service.gender" required>
              <option value="select">Selecteer het geslacht </option>
              <option value="M">Man</option>
              <option value="F">Vrouw</option>
            </select>
          </div>

        </div>
        <div class="panel-footer" *ngIf="service.barberServiceId == -1">
          <button type="submit" class="btn btn-primary" [disabled]="registerBarberServices.invalid">Toevoegen</button>
          <button type="submit" class="btn btn-success pull-right" (click)="showOrHideForm()">Close</button> 
        </div>
        <div class="panel-footer" *ngIf="service.barberServiceId != -1">
          <button type="submit" class="btn btn-primary" [disabled]="registerBarberServices.invalid">Update</button>
          <button type="submit" class="btn btn-warning pull-right" [disabled]="registerBarberServices.invalid" (click)="showOrHideForm()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>