<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">isMen</th>
          <th scope="col">isWomen</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let barber of barbers">
          <th scope="row">{{barber.barberId}}</th>
          <td>{{barber.name}}</td>
          <td>{{barber.description}}</td>
          <td *ngIf="barber.isMen">
            <i class="fa fa-check fa-2x" style="color: #28a745"></i>
          </td>
          <td *ngIf="!barber.isMen">
            <i class="fa fa-times fa-2x" style="color: #dc3545"></i>
          </td>
          <td *ngIf="barber.isWomen">
            <i class="fa fa-check fa-2x" style="color: #28a745"></i>
          </td>
          <td *ngIf="!barber.isWomen">
            <i class="fa fa-times fa-2x" style="color: #dc3545"></i>
          </td>

          <td>
            <span><a (click)="viewDetails(barber.barberId)"><i class="fa fa-eye fa-2x" style="color:#337ab7"
                  aria-hidden="true"></i></a>&nbsp;&nbsp;</span>
            <span><a [routerLink]="['/barberDetails/', barber.barberId]"><i class="fa fa-pencil fa-2x" style="color:#ffc107"
                  aria-hidden="true"></i></a>&nbsp;&nbsp;</span>
            <span><i class="fa fa-trash fa-2x" style="color:#dc3545"
                  aria-hidden="true" (click)="deleteBarber(barber.barberId)"></i>&nbsp;&nbsp;</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>