<app-barber-header></app-barber-header>
<div class="container">
<div class="row">
  <div class="col-xs-12">
  <router-outlet></router-outlet>
  </div>
</div>
</div>
<footer>
  <ul>
    <li>
      <a [routerLink]="['/appointment']">Appointment</a>
    </li>
    <li>
      <a [routerLink]="['/registerBarber']">register barber</a>
    </li>
    <li>
      <a [routerLink]="['/barberService']">barberservice</a>
    </li>
    <li>
      <a [routerLink]="['/barberLocation']">barberlocation</a>
    </li>
    <li>
      <a [routerLink]="['/barberDetails']">barberDetails</a>
    </li>
  </ul>
</footer>
