<app-create-openinghour [editOpeninghour]=openingHour></app-create-openinghour>
<div class="row">
    <div class="panel panel-primary left-margin">
      <div class="panel-heading">
        <h3 class="panel-title">Openingshours Overview</h3>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dag</th>
            <th scope="col">VAN</th>
            <th scope="col">TOT</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let openingHour of OpeningsHours">
            <th scope="row">{{openingHour.openingsHourId}}</th>
            <td>{{openingHour.day}}</td>
            <td>{{openingHour.m_from | date:"HH:mm"}}</td>
            <td>{{openingHour.m_till | date:"HH:mm"}}</td>
            <td *ngIf="openingHour.isclose">Gesloten</td>
            <td *ngIf="!openingHour.isclose">Open</td>
            <td>
              <span><i class="fa fa-pencil fa-2x" style="color:#ffc107" aria-hidden="true"
                  (click)="editService(openingHour)"></i>&nbsp;&nbsp;</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>