<div class="row">
    <div class="panel panel-primary left-margin">
      <div class="panel-heading">
        <h3 class="panel-title">Barber Services</h3>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naam</th>
            <th scope="col">Omschrijving</th>
            <th scope="col">Enkel voor</th>
            <th scope="col">Prijs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of services">
            <th scope="row">{{service.barberServiceId}}</th>
            <td>{{service.name}}</td>
            <td>{{service.description}}</td>
            <td *ngIf="service.gender=='F'"><i class="fa fa-female fa-2x" style="color:violet" aria-hidden="true"></i>
            </td>
            <td *ngIf="service.gender=='M'"><i class="fa fa-male fa-2x" style="color:royalblue" aria-hidden="true"></i>
            </td>
            <td>€ {{service.price}}</td>
            <td>
              <span><i class="fa fa-pencil fa-2x" style="color:#ffc107" aria-hidden="true"
                  (click)="editService(service)"></i>&nbsp;&nbsp;</span>
              <span><i class="fa fa-trash fa-2x" style="color:#dc3545" aria-hidden="true" (click)="deleteBarberService(service)"></i>&nbsp;&nbsp;</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>