<div class="row">
  <form #registerBarberForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit(registerBarberForm)">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" *ngIf="barber.barberId <= 0 || inputFieldDisable">Registreer de kapper</h3>
        <h3 class="panel-title" *ngIf="!inputFieldDisable">Update de kapper</h3>
      </div>
      <div class="panel-body">
        <input id="barberId" name="barberId" type="text" class="form-control" [(ngModel)]="barber.barberId" disabled/>
        <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
          <label for="name" class="control-label">Naam</label>
          <input id="name" name="barberName" type="text" class="form-control" required [(ngModel)]="barber.name"
            #name="ngModel" [disabled]="inputFieldDisable" />
          <span class="help-block" *ngIf="name.invalid && name.touched">Naam mag niet leeg</span>
        </div>
        <div class="form-group" [class.has-error]="description.invalid && description.touched"
          [class.has-success]="description.valid">
          <label for="description" class="control-label">Omschrijving</label>
          <textarea id="description" name="description" type="textarea" class="form-control" required
            [(ngModel)]="barber.description" #description="ngModel" [disabled]="inputFieldDisable"></textarea>
          <span class="help-block" *ngIf="description.invalid && description.touched">Omschrijving mag niet leeg</span>
        </div>

        <!--<div class="form-group" [class.has-error]="gender.invalid && gender.touched" [class.has-success]="gender.valid">-->
        <div ngModelGroup="barberGenderGroup" appSelectOneOfTheTwoCheckbox #barberGenderGroup="ngModelGroup">
          <div class="form-group">
            <label>Barber for </label>
            <div class="form-control control-label">
              <label class="checkbox-inline">
                <input type="checkbox" name="men" value="barber.isMen" [(ngModel)]="barber.isMen" #men="ngModel"
                  [required]="!women.value" [disabled]="inputFieldDisable"/>
                Men
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" name="women" value="barber.isWomen" [(ngModel)]="barber.isWomen" #women="ngModel"
                  [required]="!men.value" [disabled]="inputFieldDisable"/>
                Women
              </label>
              <span class="help-block" *ngIf="barberGenderGroup.errors?.notSelected">Geslacht mag niet leeg</span>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="panel-footer">
        <button type="submit" class="btn btn-primary" [disabled]="registerBarberForm.invalid">Save</button>
      </div>-->
      <div class="panel-footer" *ngIf="barber.barberId <= 0">
        {{registerBarberForm.invalid}}
        {{inputFieldDisable}}
        <button type="submit" class="btn btn-primary" [disabled]="registerBarberForm.invalid || inputFieldDisable">Save</button>
        <input type="button" class="btn btn-danger pull-right" value ="Edit" (click)="onEdit()" [disabled]="!inputFieldDisable"/>
        <input type="button" class="btn btn-warning pull-right" value="Cancel" (click)="onEdit()" [disabled]="inputFieldDisable" />
      </div>
      <div class="panel-footer" *ngIf="barber.barberId > 0">
        <button type="submit" class="btn btn-primary" [disabled]="registerBarberForm.invalid || inputFieldDisable">Update</button>
        <input type="button" class="btn btn-info pull-right" value ="Edit" (click)="onEdit()" [disabled]="!inputFieldDisable"/>
        <input type="button" class="btn btn-danger pull-right" value="Cancel" (click)="onEdit()" [disabled]="inputFieldDisable" />
      </div>

    </div>
  </form>
</div>
Angular Generated Form: {{ registerBarberForm.value | json }}
